body {
    font-family: helvetica;
    background-color: rgb(26, 25, 24);
}
  
a {
    color: #2e2e1c73;
    text-decoration: none;
}

i { 
    font-style: italic;
  }
  
header {
    background: #051c3070;
    height: 100px;
}
  
header section {
    width: 380px;
    margin: 0 auto;
}
  
header img {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 10px;
}
  
header li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 35px;
}
  
main {
    width: 380px;
    margin: 20px auto;
}

main img {
    
    border-radius: 10px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.centersec {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
    font-size: 22px;
    color: #fff;
    text-decoration: underline;
    text-transform: capitalize;
}
  
.centersec p {
    line-height: 26px;
    height: 225px;
    overflow: auto;
    color: #fff;
}
  
button {
    border: none;
    border-radius: 10px;
    background: #294a57;
    color: #000;
    padding: 8px 20px;
    transition: 350ms all;
    cursor: pointer;
}
  
button:hover {
    background: #00e1ff38;
    color: #fff;
}
  
footer {
    background: #051c3070;
    height: 100px;
    text-align: center;
    color: #fff;
}